:root {
  --left_panel_size : 50px;
  --top_padding :30px;
  --tabs_height : 43px;
  --mid_panel_size : 256px;
  --mid_panel_size_default : 256px;
  --left_padding : 280px;/*calc(var(--left_panel_size) + var(--mid_panel_size));*/
  --webnavheight : 40px;

  --var_backgroundColor : rgb(26, 26, 26);
  --var_backgroundColorDarker : rgb(22, 22, 22);
  --var_backgroundColorLighter : rgb(37, 37, 37);

  --var_textColor : rgb(255, 255, 255);
  --var_textColorDarker : rgb(226, 226, 226);
  --var_colorAccent : rgb(0, 212, 113);
  --var_colorAccentDarker : rgb(0, 212, 194);
  --default_roundradius : 4px;
	--var_sidebarColor: rgb(44, 44, 44);
	--var_iconColor: rgb(168, 164, 164);
	--var_iconColorActive: rgb(255, 255, 255);
}
.titlebar, .window-appicon {
  display:block;
}

.sidenav, .sidenav a:hover {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}
/*
.sidenav a .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(7, 7, 7) transparent transparent transparent;
  z-index: 1;
}
*/
.tabcontent{
  right: 0;
  position: absolute; 
  z-index: 4; 
  top: var(--webnavheight);
  /* var(--tabs_height); */
  bottom: 0;
  left: 0;
  /* var(--left_panel_size); */
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--var_backgroundColor);
  height: 100%;
  padding: 0px;
  /* border: 2px solid lime; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Style the side navigation */
.sidenav {
  /* height: 100%; */
  width: var(--left_panel_size);
  position: fixed;
  top: var(--top_padding);
  bottom: 0;
  left: 0;
  background-color: var(--var_sidebarColor);
  overflow-x: visible;
  z-index: 5;
  border: 1px solid var(--var_backgroundColorLighter);
}

.sidenav a:hover .tooltiptext{
  visibility: visible;
}
.sidenav a:hover .tooltiptext:hover{
  visibility: hidden;
}


.sidenav .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--var_backgroundColorDarker);
  border: 1px solid var(--var_textColor);
  color: var(--var_textColor);
  text-align: center;
  padding: 5px 0;
  border-radius: var(--default_roundradius);
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 100;
  top: 25%;
  left: 110%;
}


/* Side navigation links */
.sidenav .sidenavbutton {
  width:20px;
  height:20px;
  pointer-events: none;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  background-color: var(--var_iconColor)
}
.sidenav a:hover .sidenavbutton {
  pointer-events: none;
  transform: scale(1.5);
}
.sidenav a:active .sidenavbutton {
  pointer-events: none;
  transform: scale(1);
}
.sidenav a {
  color: var(--var_textColorDarker);
  padding: 16px;
  text-decoration: none;
  display: block;
  filter: opacity(25%);
}

/* Change color on hover */
.sidenav a:hover {
  filter: opacity(100%);
}
.sidenav .active {
  filter: opacity(100%);
}

/* Style the content */
.content {
  /*margin-left: var(--left_padding);
  padding-left: 20px;
  padding-top: var(--top_padding);*/
  background-color: var(--var_backgroundColorDarker);
  position: absolute;
  top: 0;/*calc(var(--top_padding) + var(--tabs_height));*/
  bottom: 0;
  left: var(--left_panel_size);
  right: 0;
}

#editor {
        margin: 0;
        position: absolute;
        top: var(--tabs_height); /* calc(var(--top_padding) + var(--tabs_height));*/
        bottom: 0;
        left: var(--left_panel_size);
        right: 0;
        z-index: 2;
}
.tabbar {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: calc(var(--top_padding) + var(--tabs_height));
  left: 0;
  right: 0;
  z-index: 2;
}

.mid_panel {
  width: var(--mid_panel_size);
  position: fixed;
  top: var(--top_padding);
  bottom: 0;
  left: var(--left_panel_size);
  background-color: var(--var_backgroundColorDarker);
  padding-top: var(--top_padding);
  z-index: 3;
  border: 1px solid var(--var_backgroundColorLighter);
}

.mid_panel a {
  color: white;
  padding-left : 16px;
  position: absolute;
  top: 40px;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}


.content_center {
  position: absolute;
  top: var(--tabs_height);
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--var_textColorDarker);
}

.content_center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-hor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
}

.filebrowseritem {
  height: 24px;
  cursor: pointer;
	-webkit-user-select: none;
	-webkit-user-drag: none;
  -webkit-app-region: no-drag;
  overflow-x: hidden;
  transition: padding-left .2s;
  padding-top: 2px;
}
.filebrowseritem:hover {
  background-color: var(--var_backgroundColor);
  padding-left: 8px;
}
.filebrowseritem:active {
  background-color:var(--var_backgroundColorLighter);
}

.filebrowseritem a{
  line-height: 16px;
  padding: 0; margin: 0;
  position: relative;
  top: 0;
  flex-grow: 1;
  color: var(--var_textColor);
}

.filebrowseritem img {
  height: 16px;
  width: 16px;
  margin: 4px;
  padding-right: 4px;
}

#browserpath{
  background-color: var(--var_backgroundColor);
  height: 32px;
  color: var(--var_textColor);
  overflow-x:hidden; 
  /* white-space: nowrap;  */
  width: 100%; 
  padding: 0; 
  font-size: 15px;
  top: 32px;
}

.browsercontext {
  background-color: var(--var_backgroundColor);

  border-radius: 2px 2px 2px 2px; 
  border: 1px solid var(--var_backgroundColorLighter);
  width: 256px;
  height: auto;
  position: absolute;
  left: 0; top: 0;
  display: none;
}

.browsercontext .item {
  color: var(--var_textColor);
  height: 24px;
  cursor: pointer;
	-webkit-user-select: none;
	-webkit-user-drag: none;
  -webkit-app-region: no-drag;
  overflow-x: hidden;
  transition: background-color .2s;
}
.browsercontext .item:hover {
  background-color: var(--var_backgroundColorLighter);
}
.browsercontext .item:hover.locked {
  background-color: var(--var_backgroundColorDarker);
  cursor: default;
}
.browsercontext .item:active {
  background-color: var(--var_backgroundColor);
}

.browsercontext .item a{
  color: var(--var_textColor);
  line-height: 24px;
  padding: 0; margin: 0;
  position: relative;
  top: 0;
  flex-grow: 1;
}

.browsercontext .item img {
  filter: invert(100%);
  height: 16px;
  width: 16px;
  margin: 4px;
  padding-right: 4px;
}
.browsercontext .locked{
  filter: opacity(50%);
}
.browsercontext :not(.locked){
  filter: opacity(100%);
}

.browsercontext .label {
  height: 24px;
	-webkit-user-select: none;
	-webkit-user-drag: none;
  -webkit-app-region: no-drag;
  overflow-x: hidden;
  transition: background-color .2s;
}
.browsercontext .label a{
  line-height: 24px;
  padding: 0; margin: 0;
  position: relative;
  top: 0;
  flex-grow: 1;
  color: var(--var_textColorDarker);
}

.browsercontext .label img {
  height: 16px;
  width: 16px;
  margin: 4px;
  padding-right: 4px;
  filter: opacity(75%);
}

.browsercontext .sep {
  height: 2px;
  background-color: var(--var_backgroundColorLighter);
  margin-top: 4px;
  margin-bottom: 4px;
}

.browserinput {
  outline: none;
  width: 100%;
  height: 24px;
  background-color: transparent;
  color: var(--var_textColor);
}

.nav_bar {
  background-color : var(--var_backgroundColorLighter);
  display: flex;
  flex-direction: row;

  position: absolute;
  top: var(--tabs_height);
  left: 2px;
  right: 0;
  height: var(--webnavheight);
  z-index : 6;

  border-bottom: 1px solid var(--var_backgroundColorLighter);
}
.nav_button{
  width: 16px;
  height: 16px;
  padding: 10px;
  margin: 2px;
  opacity: 70%;
  transition: background-color .1s ease;
  -webkit-user-drag: none;
}
.nav_button:hover{
  background-color: #5c5c5c70;
}
.nav_button:active{
  background-color: #00000070;
}
.nav_bar input{
  background-color: var(--var_backgroundColorDarker);
  color: var(--var_textColor);
  border: none;
  outline: none;
  margin: 2px;
  flex-grow: 1;
}

webview {
  background-color: rgb(228, 228, 228);
}

.footnav {
  width: 80%;
  right:0;
  position: absolute;
  bottom: 32px;
  height: 32px;
  background-color: var(--var_backgroundColor);
  border: 1px solid var(--var_backgroundColorDarker);
  z-index: 99;
  color: var(--var_textColor);
  opacity: 70%;
  pointer-events: none;
}